#albums {
  padding-top: 10vh;
  position: relative;
  min-height: 100vh;
}

#albums::after {
  content: "";
  background: image-url("albums.jpeg");
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  position: absolute;
}

.album-url-logos {
  height: 40px;
  padding: 4px;
}

.album-container {
  position: relative;
}

.album-art {
  display: block;
  width: 100%;
  height: auto;
}

.album-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #1B1B1B;
  color: $white;
}

.album-container:hover .album-overlay {
  opacity: .9;
}

.album-text {
  color: #ECECEC;
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 18%;
  overflow-y: scroll;
}
