.dashboard-title {
  background-image: image-url("space.jpg");
  background-size: 100% auto;
  background-position: center right;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #ECECEC;
  margin-left: 2rem;
  margin-bottom: 5vh;

  h1 {
    font-size: 10vmin;
  }
}

.dashboard-title li {
  a {
    padding-left: 0;
    margin-left: 1rem;
  }

  a:hover {
    border-bottom: solid 1px #1B1B1B;
  }
}

.dashboard-user {
  padding-right: 2rem;

  img {
    padding: 3px;
    border: solid 1px #1B1B1B;
    height: 7.5vh;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
