#groups {
  padding-top: 10vh;
  position: relative;
  min-height: 100vh;
}

#groups::after {
  content: "";
  background: image-url("groups.jpeg");
  background-size: cover;
  background-position: bottom center;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  position: absolute;
}

.group-image-container img  {
  display: block;
  float: left;
}

.images-4 img {
  width: 50%;
}

.images-9 img {
  width: 33.3%;
}
