h1 {
  color: #ECECEC;
}

#landing-page {
  background-color: #1B1B1B;
}

#landing-page-title {
  background-image: image-url("tape.jpg");
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  filter: invert(100%);
  padding: 1px;
}

#landing-page-title h1 {
  background-image: image-url("moon.jpeg");
  background-size: 110% auto;
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #ECECEC;
  font-size: 20vmin;
}

.landing-page-nav {
  filter: invert(100%);
  color: #ECECEC;
  margin: 5vh 5vw;

  img {
    padding: 3px;
    border: solid 1px #ECECEC;
    max-height: 10vh;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

#landing-page-nav-links {
  a {
    padding-left: 0;
    border-bottom: solid 1px transparent;
  }

  a:hover {
    border-bottom: solid 1px $primary-color;
  }
}

.not-visible {
  visibility: hidden;
}

#fade {
  opacity: 0;
  z-index: 1;
  position: relative;
}

#search {
  position: relative;
  padding-top: 5vh;

  .input-group-field {
    background: rgba(27, 27, 27, 0.8);
    color: #ECECEC;
  }
}

#landing-page-search-results {
  background-image: image-url("album-search.jpg");
  background-size: auto 70vh;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.landing-page-search {
  filter: invert(100%);
  margin-top: 40vh;
}

.album-search {
  white-space: nowrap;
  overflow-x: scroll;

  div.column.column-block {
    white-space: normal;
    display:inline-block;
    background: rgba(0, 0, 0, 0.2);
    padding: 5px;
    margin-right: 5px;
  }

  img.thumbnail.album-art {
    max-height: 20vh;
    width: auto;
  }

  .like-button {
    height: 23px;
    padding: 4px;
    margin: 5px;
  }

  h5 {
    font-size: .9em;
  }

  h6 {
    font-size: .7em;
  }

  span {
    font-size: .6em;
  }
}

.button {
  font-family: inherit;
}
